extends ../../layouts/LayoutComponent
include ../../mixins/components/Popovers

append variables
  
  -
    var pageHeader = {
      title: 'Popovers',
      description: "Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages.",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/popovers/`,
      linkText: 'Popovers on Bootstrap'
    } 

block component

  +PageHeader(pageHeader)

  +ComponentCard({
    title: 'Examples',
    anchor: true,
  }).mb-3
    +Popover("top")
    +Popover("right")
    +Popover("left")
    +Popover("bottom")


