extends ../../layouts/LayoutComponent
include ../../mixins/components/Typography

append variables
  
  -
    var pageHeader = {
      title: 'Typography',
      description: 'Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/content/typography/`,
      linkText: 'Typography on Bootstrap'
    }


block component
  +PageHeader(pageHeader)

  +ComponentCard({
    title: 'Font Family',
    description:  `For longer content, you can add a
     <code>
      .text-truncate class to truncate the text with an ellipsis. <strong>Requires <code>display: inline-block</code> or <code>display: block</code>.</strong>
    </code>`,
    anchor: true
  }).mb-3
        +TypographyFontFamilyDemo
  
  +ComponentCard({
    title: 'Headings',
    description: `All HTML headings, <code>h1</code>through<code>h6</code>, are available.`,
    anchor: true
  }).mb-3
    +TypographyHeadingDemo

  +ComponentCard({
    title: 'Headings with classes',
    description: `<code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.`,
    anchor: true
  }).mb-3
    +TypographyHeadingClassDemo

  +ComponentCard({
    title: 'Customizing headings',
    description: `Use the included utility classes to recreate the small secondary heading text from Bootstrap 3.`,
    anchor: true
  }).mb-3
    +TypographyCustomizeHeadingDemo      

  +ComponentCard({
    title: 'Font Weights',
    anchor: true
  }).mb-3
    +TypographyFontWeightsDemo

  +ComponentCard({
    title: 'Display headings',
    description: `Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a 
    <strong> display heading </strong> —a larger, slightly more opinionated heading style.`,
    anchor: true
  }).mb-3
    +TypographyDisplayHeadingDemo

  +ComponentCard({
    title: 'Colors',
    description: `Use the following colors to change the text color`,
    anchor: true
  }).mb-3
    +TypographyColorsDemo 

  +ComponentCard({
    title: 'Sizes',
    description: `If you want different sizes of fonts, you may use the following classes.`,
    anchor: true
  }).mb-3
    +TypographySizeDemo

  +ComponentCard({
    title: 'Text Transformation',
    description: `Transform text in components with text capitalization classes.`,
    anchor: true
  }).mb-3
    +TextTransformationDemo

  +ComponentCard({
    title: 'Lead',
    description: `Make a paragraph stand out by adding <code> .lead </code>`,
    anchor: true
  }).mb-3
    +TypographyLeadDemo

  +ComponentCard({
    title: 'Dropcap',
    description: `Make a paragraph stand out by adding <code> .dropcap </code> class.`,
    anchor: true,
    descriptionClass:'mt-2'
  }).mb-3
    +TypographyDropcapDemo
    



